
/* https://developer.gnome.org/gtk3/stable/chap-css-overview.html */

#application, #cell, #command-line-box, #command-line-entry, #content, #grid, #image, #overlay, #status-bar-layout {
}


@define-color bg #004040;

#content {
  background-color: @bg;
}

#status-bar, #status-label {
  background-color: #004040;
  color: white;
}

#error-text {
  background-image: radial-gradient(ellipse at center, red 0%, @bg 55%);
  color: white;
}
